body {
   background-color: #fca311 !important;  
}
.marcos{
     border-color: #00b4d8;
    border-radius: 10px;
    border-style: solid;
    background-color: #00b4d8;
    width: 800px;
    margin-top: 20px;
}
.pika{
    display: flex;
}
.mew{
     border-color: #00b4d8;
    border-radius: 30px;
    border-style: solid;
    background-color: #00b4d8;
    width: 800px;
    margin-top: 40px;
    margin-right: 800px;
}
.mewtwo{
         border-color: #00b4d8;
    border-radius: 30px;
    border-style: solid;
    background-color: #00b4d8;
    width: 800px;
    margin-top: 40px;
}
.luca{
      border-color: #00b4d8;
    border-radius: 30px;
    border-style: solid;
    background-color: #00b4d8;
    width: 800px;
    margin-top: 40px;
 
}
.evee1{
 display: flex;
 gap: 30PX;
}
.evee2{
    border-color: #00b4d8;
    border-radius: 30px;
    border-style: solid;
    background-color: #00b4d8;
    width: 800px;
    margin-top: 40px;
    margin-right: 20px;
}
.evee3{
  border-color: #00b4d8;
    border-radius: 30px;
    border-style: solid;
    background-color: #00b4d8;
    width: 800px;
    margin-top: 40px;

}
.evee4{
  border-color: #00b4d8;
    border-radius: 30px;
    border-style: solid;
    background-color: #00b4d8;
    width: 800px;
    margin-top: 40px;
}
.agua{
        border-color: #00b4d8;
    border-radius: 30px;
    border-style: solid;
    background-color: #00b4d8;
    width: 800px;
    margin-top: 40px;
}
.tierra{
        border-color: #00b4d8;
    border-radius: 30px;
    border-style: solid;
    background-color: #00b4d8;
    width: 800px;
    margin-top: 40px;
}























